.message-even {
    background-color: #f8f9fa; /* Light gray */
}

.message-odd {
    background-color: #e9ecef; /* Slightly darker gray */
}
.messages-box {
    padding-bottom: 100px; /* Adjust this value based on the height of your input field */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 80vh; /* Adjust as needed */
    overflow-y: auto;
}